p.mm-favorites-link a{
	text-decoration: underline;
	text-decoration-style: dotted;
	border:none;
	color: red;

}

p.mm-favorites-link a:hover{
	text-decoration: none;
	
}

.mm-favorites-link {
	color: red;
}