//Стили для пользовательской части (не админки)
p.mm-favorites-link a{
	text-decoration: underline;
	text-decoration-style: dotted;
	border:none;
	color: red;

}

p.mm-favorites-link a:hover{
	text-decoration: none;
	
}

.mm-favorites-hidden{
	display: none;
}

.mm-favorites-del{
	color:red;
	font-weight: bold;
}	
.mm-favorites-hidden{
	display: none;
	
}	

.widget_mm-favorites-widget ul{
	list-style: none;
}

.mm-favorites-del:hover{
	color:red;
	
}	
