//Стили для пользовательской части (не админки)
p.mm-favorites-link a{
	text-decoration: underline;
	text-decoration-style: dotted;
	border:none;
	color: red;

}

p.mm-favorites-link a:hover{
	text-decoration: none;
	
}

.mm-favorites-hidden{
	display: none;
}